<div class="user-edit">
  <div class="user-edit__list">
    <h3>ユーザー情報編集</h3>
  </div>

  <%= form_with(model: @user, local: true) do |f| %>
  
    <%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "150x150", class:"user--show_image" %>
    <%= f.attachment_field :profile_image %>

  <div class="form_change">
    <div class="">
    <span>会員ステータス</span>
    </div>
  	<label>
    <%= f.radio_button :user_status,:なにかしたいです！, class:"form_change_item", onclick:"formChange();", checked:"checked" %>
    <%= f.label :なにかしたいです！ %></label>
  </div>
  <div class="form_change">
  	<label>
    <%= f.radio_button :user_status, :参加者募集中です！, class:"form_change_item", onclick:"formChange();" %>
    <%= f.label :参加者募集中です！ %></label>
   </div>

  <!----きりかえ1--->
  <div id="firstBox">
    <div class="field">
      <%= f.label :last_name, "名前(性)" %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :first_name, "名前(名)" %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :interest, "やりたいこと" %>
      <%= f.text_field :interest %>
    </div>

    <div class="field">
      <%= f.label :introduction, "紹介文" %>
      <%= f.text_area :introduction %>
    </div>

  </div>


  <!----きりかえ2--->
  <div id="secondBox">
  	<div class="">
  		<span>----参加者募集中の方は、こちらもご記入ください----</span>
  	</div>
    <div class="field">
      <%= f.label :affiliation, "所属" %>
      <%= f.text_field :affiliation %>
    </div>

    <div class="field">
      <%= f.label :job, "職業" %>
      <%= f.text_field :job %>
    </div>

    <div class="field">
      <%= f.label :person, "会いたい人" %>
      <%= f.text_field :person %>
    </div>

    <div class="field">
      <%= f.label :postal_code, "郵便番号" %>
      <%= f.text_field :postal_code %>
    </div>

    <div class="field">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  function formChange(){
    radio = document.getElementsByClassName('form_change_item')
    if(radio[0].checked) {
    //フォーム
    document.getElementById('firstBox').style.display = "";
    document.getElementById('secondBox').style.display = "none";

    }else if(radio[1].checked) {
    //フォーム
    document.getElementById('firstBox').style.display = "";
    document.getElementById('secondBox').style.display = "";
    }
  }

  //オンロードさせ、リロード時に選択を保持
  window.onload = formChange();
</script>