<div class="user-edit">
  <div class="user-edit__title">
    <h3>ユーザー情報編集</h3>
  </div>
  <div class="">
    <%= render 'layouts/error_messages', model: @user %>
  </div>

  <%= form_with(model: @user, local: true) do |f| %>
    <%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "150x150", class:"user-edit__image" %>
    <%= f.attachment_field :profile_image %>

  <div class="user-edit__status">
    <div class="user-edit__form-change">
      <div class="">
        <span>会員ステータス</span>
      </div>
    	<label>
        <%= f.radio_button :user_status,:なにかしたいです！, class:"user-edit__form-change__item", onclick:"formChange();", checked:"checked" %>
        <%= f.label :なにかしたいです！ %>
      </label>
    </div>
    <div class="user-edit__form-change">
    	<label>
        <%= f.radio_button :user_status, :参加者探してます！, class:"user-edit__form-change__item", onclick:"formChange();" %>
        <%= f.label :参加者探してます！ %>
      </label>
    </div>
  </div>

  <!----きりかえ1--->
  <div id="first_box">
    <table class="user_edit__table">
      <tbody>
        <tr>
          <td>
          <%= f.label :last_name, "名前(性)" %></td>
          <td>
          <%= f.text_field :last_name, class:"user-edit__table1__item user-edit__table__last-name" %>
          </td>
        </tr>

        <tr>
          <td>
        <%= f.label :first_name, "名前(名)" %></td>
          <td><%= f.text_field :first_name, class:"user-edit__table1__item user-edit__table__first-name" %></td>
        </tr>

        <tr>
          <td>
        <%= f.label :interest, "やりたいこと" %></td>
          <td><%= f.text_field :interest, class:"user-edit__table1__item user-edit__table__interest" %></td>
        </tr>

        <tr>
          <td>
          <%= f.label :introduction, "紹介文" %></td>
          <td>
          <%= f.text_area :introduction, class:"user-edit__table1__item user-edit__table__introduction" %></td>
        </tr>
      </tbody>
    </table>
  </div>


  <!----きりかえ2--->
  <div id="second_box">
  	<div class="user-edit_attention">
  		<span>----参加者を探されている方は、こちらもご記入ください----</span>
  	</div>
    <table>
      <tbody>
    <tr>
      <td>
      <%= f.label :affiliation, "所属" %></td>
      <td><%= f.text_field :affiliation, class:"user-edit__table2__item" %></td>
    </tr>

    <tr>
      <td>
      <%= f.label :job, "職業" %></td>
      <td>
      <%= f.text_field :job, class:"user-edit__table2__item"%></td>
    </tr>

    <tr>
      <td>
      <%= f.label :person, "会いたい人" %></td>
      <td>
      <%= f.text_field :person, class:"user-edit__table2__item" %></td>
    </tr>
    <tr>
      <td colspan="2" class="user-edit__table2__attention">
    <span >----活動拠点がある方は、住所をご記入ください----</span>
    </td>
  </tr>
    <tr>
      <td>
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
      <td>
      <%= f.text_field :postal_code, class:"user-edit__table2__item" %></td>
    </tr>

    <tr>
      <td>
      <%= f.label :address, "住所" %></td>
      <td>
      <%= f.text_field :address, class:"user-edit__table2__item" %></td>
    </tr>
  </tbody>
</table>
  </div>

  <div class="user-edit__action">
    <%= f.submit "保存" %>
  </div>
<% end %>

<script type="text/javascript">
  function formChange(){
    radio = document.getElementsByClassName('user-edit__form-change__item')
    if(radio[0].checked) {
    //フォーム
    document.getElementById('first_box').style.display = "";
    document.getElementById('second_box').style.display = "none";

    }else if(radio[1].checked) {
    //フォーム
    document.getElementById('first_box').style.display = "";
    document.getElementById('second_box').style.display = "";
    }
  }

  //オンロードさせ、リロード時に選択を保持
  window.onload = formChange();
</script>