<div class="user-show">
	<div class="user-show__list">
		<div class="user-show__list__name">
			<h3><%= @user.last_name + @user.first_name %>さんのマイページ</h3>
		</div>
		<div class="">
			<%= attachment_image_tag @user, :profile_image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "150x150", class:"user-show__list__image"%>
			<% if current_user.id == @user.id %>
				<%= link_to "編集", edit_user_path(@user) %>
			<% end %>
		</div>
		<% if @user.interest.present? && @user.introduction.present? %>
			<div class="user_show__list__status">
				 <span><%= @user.user_status %></span>
			</div>
			<div  class="user-show__list__introduction">
				<span><%= simple_format(@user.introduction) %></span>
			</div>
			<table border="1" class="user-show__list__table">
				<tr>
					<th>やりたいこと</th>
					<td><%= @user.interest %></td>
				</tr>
				<% if @user.person.present? %>
				<tr>
					<th>会いたい人</th>
					<td><%= @user.person %></td>
				</tr>
				<% end %>
				<% if @user.affiliation.present? %>
					<tr>
						<th>所属</th>
						<td><%= @user.affiliation %></td>
					</tr>
				<% end %>
				<% if @user.job.present? %>
					<tr>
						<th>職業</th>
						<td><%= @user.job %></td>
					</tr>
				<% end %>
			</table>
			<% if @user.address.present? %>
				<div class="user-show__list__map">
					<span>活動地域<br/><%= @user.address %></span>
			    	<div id="profile_map"></div>
				</div>
			<% end %>
		<% else %>
		<p>まだ<%= @user.last_name%>さんの情報は未入力です。</p>
		<% end %>
	</div>

	
	<div class="post-index">
		<div class="post-index__item">
			<% @posts.each do |post| %>
				<div class="post-index__item__list">
					<table>
						<tbody align="center">
							<tr>
								<td><%= link_to post_path(post) do %>
									<%= attachment_image_tag post, :image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "250x150"%>
									<% end %>
								</td>
							</tr>
							<tr>
								<td><span><%= post.title %></span></td>
							</tr>

							<tr>
								<td><span><%= post.category %></span></td>
							</tr>
							<% if post.address.present? %>
							<tr align="right" >
								<td>
									<div class="post-index__item__prefecture-name">
										<span><%= post.address.match(/東京都|北海道|(?:京都|大阪)府|.{2,3}県/).to_s %></span>
									</div>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			<% end %>
		</div>
	<div  class="post-index__pagenate">
		<%= paginate @posts %>
	</div>
</div>



<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
    var map = new google.maps.Map(document.getElementById('profile_map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = 'やりたいこと：<%= @user.interest %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>




