<div class="user-show">
	<div class="user-show__list">
		<div class="user-show__list__name">
			<h3><%= @user.last_name + @user.first_name %>さんのマイページ</h3>
		</div>
		<%= render 'profile', user: @user %>
	</div>

	<div class="post-index">
		<%= render 'posts/index', posts: @posts %>
	</div>
</div>

<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
    var map = new google.maps.Map(document.getElementById('profile_map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = 'やりたいこと：<%= @user.interest %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>




