<h1>編集フォーム</h1>


<%= form_for(@post, url: post_path(@post)) do |f| %>
	<h4>写真</h4>
	<%= attachment_image_tag @post, :image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "250x150"%>

	<div class="">
		<%= f.attachment_field :image %>
	</div>

	<h4>タイトル</h4>
	<%= f.text_field :title , class:"post_form_title"%>

	<h4>カテゴリー</h4>
	<%= f.select :category , Post.categories.keys  %>

	<h4>本文</h4>
	<%= f.text_area :body ,class:"post_form_body"%>

	<div class="">
		<span>-----活動場所があれば住所を記載してください----</span>
	</div>

	<h4>郵便番号</h4>
	<%= f.text_field :postal_code ,class:"post_form_postal_code"%>

	<h4>住所</h4>
	<%= f.text_field :address, class:"post_form_address" %>

	<div class="">
		<%= f.submit %>
	</div>

<% end %>