<div class="container main">
	<div class="row" >
		<div class="col col-sm-2">
			<div class="row">
				<h5><span class="under">投稿一覧検索</span></h5>
				<%= form_tag(post_search_path, :method => 'get') do %>
					<%= text_field_tag :search, nil, placeholder: "キーワード、地名など", class:"", size: "20", required: true%>
					<%= submit_tag '検索', :name => nil %>
				<% end %>
			</div>
		<div class="row">
			<p><span class="under">いいねランキングtop3</span></p>
			<% @all_ranks.each do |post| %>
				<%= link_to post_path(post) do %>
					<p><li><%= post.title %></li></p>
				<% end %>
			<% end %>
	</div>
		</div>
		<div class="col col-sm-10">
			<div class="row">
				<%= render 'index', posts: @posts %>
			</div>
			<div  class="row">
			<%= paginate @posts %>
			</div>
		</div>
	</div>
</div>