<h1>投稿一覧</h1>

<div class="post_index">
	<% @posts.each do |post| %>
		<div class="post_item">
			<table>
				<tbody align="center">
					<tr>
						<td><%= link_to post_path(post) do %>
							<%= attachment_image_tag post, :image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "250x150"%>
							<% end %>
						</td>
					</tr>
					<tr>
						<td><span><%= post.title %></span></td>
					</tr>

					<tr>
						<td><span><%= post.category %></span></td>
					</tr>
					<% if post.address.present? %>
					<tr align="right" >
						<td>
							<div class="prefecture_name">
								<span><%= post.address.match(/東京都|北海道|(?:京都|大阪)府|.{2,3}県/).to_s %></span>
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>

	<div  class="post-pagenate">
		<%= paginate @posts %>
	</div>
</div>