<div class="post-show">
  <%= flash[:success] %>
  <div class="post-show__list">
    <ul class="">
      <li>
        <div class="post-show__list__title">
          <h3><span class="under"><%= @post.title %></span></h3>
        </div>
      </li>
      <% if @post.address.present? %>
      <li>
        <div class="post-show__list__prefecture">
          <div class="post-index__item__prefecture-name">
            <span><%= @post.address.match(/東京都|北海道|(?:京都|大阪)府|.{2,3}県/).to_s %></span>
          </div>
        </div>
      </li>
      <% end %>
      <% if @post.user == current_user %>
      <li><%= link_to "編集", edit_post_path(@post.id) %>
      </li>
      <li><%= link_to "削除", post_path(@post), method: :delete %>
      </li>
      <% end %>
    </ul>

    <div class="post-show__list__user-info">
      <div class="post-show__list__user-info__picture">
        <%= attachment_image_tag @post.user, :profile_image,format: 'jpeg', fallback: "no_image.jpg" ,  size: "50x50", class:"user-show__list__image"%>
      </div>
      <div class="post-show__list__user-info__name">
        <%= @post.user.last_name + @post.user.first_name %>
      </div>
    </div>
  </div>

  <div class="post-show__list__picture">
    <%= attachment_image_tag @post, :image, format: 'jpeg', size: "500x300" %>
  </div>
  <div class="post-show__list__category">
    <span>投稿カテゴリー：<%= @post.category %></span>
  </div>
  <div class="post-show__list__body">
    <%= simple_format(@post.body) %>
  </div>

  <% if @post.address.present? %>
    <div class="post-show__list__place">
      </span>活動場所</br><%= @post.address %></span>
    </div>
    <div class="">
      <div id="map"></div>
    </div>
  <% end %>


  <% @post.comments.each do |comment| %>
   <%= comment.user.last_name %>
   <%=  comment.content %>
   <% if comment.user == current_user%>
    <div>
      <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
    </div>
  <% end %>
  <% end %>

  <%= form_for [@post, @comment] do |f| %>
    <div class="">
      <div class="">
        <%= f.text_area :content %>
      </div>
    </div>
    <%= f.submit "送信する" %>
  <% end %>

</div>

<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>


