<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= @post.user.last_name %>

<%= @post.title %>

<%= @post.body %>

<%= @post.category %>

<%= @post.postal_code %>

<%= @post.address %>

<div id="map"></div>




<script src="http://maps.google.com/maps/api/js?key=AIzaSyBy5NPpTddCIADV-mAiWJyrgl9eFegKsmM&language=ja"></script>
