<!DOCTYPE html>
<html>
  <head>
    <title>CreateTown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="<%= ENV['FONT_AWESOME_KEY'] %>"  crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
            <span><%= image_tag 'logo.png' %></span>
            <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to '投稿一覧を見る', posts_path , class: "glyphicon glyphicon-book" %></li>
              <li class="nac-item"><%= link_to 'コラムを読む', columns_path , class: "glyphicon glyphicon-book" %></li>
              <li class="nav-item"><%= link_to 'なかまを探す', users_path, class: 'glyphicon glyphicon-user' %></li>
              <li class="nav-item"><%= link_to 'コラムを書く', new_column_path , class: "glyphicon glyphicon-book" %></li>
              <!--ドロップダウンのnav-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>ユーザー情報<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--user_statusが参加者を募集する場合のみ表示する-->
                  <% if current_user.user_status_before_type_cast == 1 %>
                    <span>
                    <%= link_to '参加者を募集する', new_post_path, class: 'glyphicon glyphicon-send' %>
                    </span>
                  <% end %>
                  <span><%= link_to 'マイページ', user_path(current_user.id), class:"glyphicon glyphicon-edit" %></span><br/>
                  <span><%= link_to 'ユーザー情報編集', edit_user_path(current_user.id), class:"glyphicon glyphicon-wrench" %></span><br/>
                  <div class="dropdown-divider"></div>
                  <span><%= link_to 'ログアウト', users_sign_out_path, class:"glyphicon glyphicon-new-window", method: :delete %></span>
                </div>
              </li>
            <% else %>
              <li><%= link_to ' 新規登録', users_sign_up_path, class: 'glyphicon glyphicon-edit' %></li>
              <li><%= link_to ' ログイン', users_sign_in_path, class: 'glyphicon glyphicon-log-in' %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>

    <div id="wrapper">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <footer class="fixed-bottom">
      <h5>CREATE TOWN</h5>
      <p>contact: ×××@×××.com</p>
    </footer>
  </body>
</html>
