<div class="sign-up">

  <h3 class="sign_up_title">新規登録</h3>

  <%= form_for(resource, as: resource_name, url: users_path) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    
    <div class="sign-up__list">
      <table>
        <tbody>
          <tr>
            <td>名前</td>
            <td><%= f.label :last_name,"(姓)" %></td>
            <td align="right"><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <%= f.label :first_name, "(名)" %></td>
            <td align="right"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
            </td>
          </tr>

          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td colspan="2" align="right"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr>
            <td><%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </td>
            <td colspan="2"  align="right">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :password_confirmation, "パスワード確認用" %>
            </td>
            <td colspan="2"  align="right">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>

          <tr>
            <td colspan="3"  align="center" class="btn btn-large">
              <%= f.submit "新規登録" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <h4 class="sign-up__section-log-in">既に登録済みの方</h4>
    <p><%= link_to "こちら", users_sign_in_path %>からログインしてください。</p>
  </div>
</div>